trunk/xsd/westep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.westep.org/2010/westep"
    xmlns:westep="http://www.westep.org/2010/westep" elementFormDefault="qualified"
    version="1.0">

    <annotation>
        <documentation>
            <p>Defines XML messages for WESTEP, the weather
                station event
                protocol.</p>
        </documentation>
    </annotation>

    <!-- Types -->

    <complexType name="Event" abstract="true">
        <annotation>
            <documentation>
                <p>Base type for all events.</p>
            </documentation>
        </annotation>
        <sequence>
            <element name="station" type="string" maxOccurs="1"
                minOccurs="0">
                <annotation>
                    <documentation>
                        <p>Identifies the station producing this
                            event;
                            This may be useful when events from
                            several
                            stations are gathered; Consumers MAY
                            ignore
                            this information.</p>
                    </documentation>
                </annotation>
            </element>
            <element name="sensor" type="int" maxOccurs="1"
                minOccurs="0">
                <annotation>
                    <documentation>
                        <p>Identifies the sensor when the
                            station has
                            several sensors for the same type of
                            event.</p>
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ValueEvent" abstract="true">
        <annotation>
            <documentation>
                <p>Abstract type for events holding a decimal
                    value.</p>
            </documentation>
        </annotation>
        <complexContent>
            <extension base="westep:Event">
                <sequence>
                    <element name="value" type="decimal">
                        <annotation>
                            <documentation>
                                <p>The value provided by this
                                    event.</p>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SingleValueEvent">
        <annotation>
            <documentation>
                <p>Concrete type for events holding a single decimal
                    value.</p>
            </documentation>
        </annotation>
        <complexContent>
            <extension base="westep:ValueEvent">
                <sequence>
                    <any namespace="##other" processContents="lax"
                        minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PressureEvent">
        <annotation>
            <documentation>
                <p>Event reporting atmospheric pressure in
                    [hPa].</p>
            </documentation>
        </annotation>
        <complexContent>
            <extension base="westep:ValueEvent">
                <sequence>
                    <element name="code" maxOccurs="1"
                        minOccurs="0" type="westep:PressureCode">
                        <annotation>
                            <documentation>
                                <p>Specifies if the pressure is
                                    corrected or not. If absent, RAW is
                                    assumed.</p>
                            </documentation>
                        </annotation>
                    </element>
                    <any namespace="##other" processContents="lax"
                        minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <simpleType name="PressureCode">
        <annotation>
            <documentation>
                <p>
                    RAW: Absolute pressure measured by the sensor,
                    default
                    <br />
                    QFE: Station pressure, sensor Pressure adjusted for
                    any
                    difference between sensor elevation and official
                    station
                    elevation
                    <br />
                    QNH: Station pressure adjusted for elevation
                    (assumes
                    standard atmosphere)
                    <br />
                    QFF: Station pressure adjusted for elevation,
                    temperature and humidity.
                </p>
            </documentation>
        </annotation>
        <restriction base="string">
            <enumeration value="RAW"></enumeration>
            <enumeration value="QNH"></enumeration>
            <enumeration value="QNE"></enumeration>
            <enumeration value="QFE"></enumeration>
        </restriction>
    </simpleType>

    <complexType name="RainEvent">
        <annotation>
            <documentation>
                <p>Event reporting rain.</p>
            </documentation>
        </annotation>
        <complexContent>
            <extension base="westep:Event">
                <sequence>
                    <element name="rate" type="decimal">
                        <annotation>
                            <documentation>
                                <p>Rain rate at the time of
                                    event in
                                    [mm/h].</p>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="total" type="decimal">
                        <annotation>
                            <documentation>
                                <p>Total rain in [mm] measured
                                    by the
                                    sensor; Consumer assumes that
                                    when
                                    this value is reset, an event with
                                    total=0 will be emitted in order to
                                    keep
                                    a consistent track using deltas.</p>
                            </documentation>
                        </annotation>
                    </element>
                    <any namespace="##other" processContents="lax"
                        minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="WindEvent">
        <annotation>
            <documentation>
                <p>Event reporting wind.</p>
            </documentation>
        </annotation>
        <complexContent>
            <extension base="westep:Event">
                <sequence>
                    <element name="mean" type="westep:WindMeasure">
                        <annotation>
                            <documentation>
                                <p>Mean wind during the sample
                                    period.</p>
                            </documentation>
                        </annotation>
                    </element>
                    <element name="gust" type="westep:WindMeasure"
                        maxOccurs="1" minOccurs="0">
                        <annotation>
                            <documentation>
                                <p>Maximum wind gust during the
                                    sampling
                                    period.</p>
                            </documentation>
                        </annotation>
                    </element>
                    <any namespace="##other" processContents="lax"
                        minOccurs="0" maxOccurs="unbounded" />
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="WindMeasure">
        <annotation>
            <documentation>
                <p>Denotes a measure of wind speed and
                    direction.</p>
            </documentation>
        </annotation>
        <sequence>
            <element name="speed" type="decimal">
                <annotation>
                    <documentation>
                        <p>Wind speed in [m/s].</p>
                    </documentation>
                </annotation>
            </element>
            <element name="dir" type="decimal">
                <annotation>
                    <documentation>
                        <p>Direction from where the wind comes
                            in degrees
                            from geographical north.</p>
                    </documentation>
                </annotation>
            </element>
            <any namespace="##other" processContents="lax"
                minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>

    <!-- Concrete Events -->

    <element name="temp" type="westep:SingleValueEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports temperature in [°C]</p>
            </documentation>
        </annotation>
    </element>

    <element name="hum" type="westep:SingleValueEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports humidity in [%].</p>
            </documentation>
        </annotation>
    </element>

    <element name="press" type="westep:PressureEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports atmospheric pressure in [hPa]; The
                    code
                    specifies if a correction was applied; If no code
                    is
                    provided, the pressure reported is the raw pressure
                    measured by the sensor, without altitude correction.</p>
            </documentation>
        </annotation>
    </element>

    <element name="rain" type="westep:RainEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports rain.</p>
            </documentation>
        </annotation>
    </element>

    <element name="wind" type="westep:WindEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports wind and gusts.</p>
            </documentation>
        </annotation>
    </element>

    <element name="uv" type="westep:SingleValueEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports the UV index.</p>
            </documentation>
        </annotation>
    </element>


    <element name="rad" type="westep:SingleValueEvent" block="#all">
        <annotation>
            <documentation>
                <p>Reports the solar radiation in [W/m²]</p>
            </documentation>
        </annotation>
    </element>


</schema>